@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

/* All */

*{
    margin: 2.5em;
    font-family: var(--font-primary);
}

body{
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

:root{
    --color-primary: #F5F5F5;
    --color-secondary: #048b9a;
    --color-secondary-hover: #06a1b3;
    --color-text: #1F1F1F;
    --color-link: #463e98;
    --color-link-hover: #6b5fec;
    --color-danger: #f44336;
    --color-success: #4caf50;
    --color-warning: #ff9800;
    --color-background: #F5F5F5;
    --color-header: #F5F5F5;
    --color-border: #414040;

    --font-primary: 'Comfortaa', cursive;
    --font-secondary: 'Comfortaa', cursive;
    --font-title: 'Comfortaa', cursive;
    --font-special: 'Comfortaa', cursive;

    --default: 0;
    --transition: 0.3s ease-in-out;
}


/* ########### Style ########### */


/* ------ Button ------ */

/* basic */

.button-enter {
    width: auto;
    padding-inline: 20px;
    height: 40px;
    border: none;
    outline: none;
    color: var(--color-text);
    background: var(--color-primary);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    transition: var(--transition);
}

.button-enter:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.button-enter:active {
    color: #000
}

.button-enter:active:after {
    background: #fff;
}

.button-enter:hover:before {
    opacity: 1;
}

.button-enter:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #F5F5F5;
    border: 1px solid #1f1f1f;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.button-skip {
    width: auto;
    padding-inline: 20px;
    height: 40px;
    border: none;
    outline: none;
    color: var(--color-text);
    background: var(--color-primary);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    transition: var(--transition);
}

.button-skip:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.button-skip:active {
    color: #000
}

.button-skip:active:after {
    background: #fff;
}

.button-skip:hover:before {
    opacity: 1;
}

.button-skip:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #F5F5F5;
    border: 1px solid #1f1f1f;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.button-menu {

}   

/* RGB */

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: var(--color-text);
    background: #F5F5F5;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: #fff;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #F5F5F5;
    border: 1px solid #1f1f1f;
    left: 0;
    top: 0;
    border-radius: 10px;
}

/* RGB text */

.rgb{
    background: -webkit-linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;

    filter: blur(0.05px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;

    transition: opacity .3s ease-in-out;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* user connexion */

.button-round {

}

.button-round .login {

}

.button-round .logout {

}

/* ------ Input ------ */

.small-input {

}

.large-input {
    
}